.Menu{
    display: flex;
    flex-direction: column;

    height: 94vh;
    width: 250px;

    background-color: white;

    border-radius: 15px;

    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    grid-area: menu;
}

.MenuOptions{
    width: 100%;
    display: inherit;
}

a{
    text-decoration: none;
}